<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Main</title>
</head>

<body>
	<form class="textContainer" action='/postResult' method='POST'>
                       
        <label>picture:</label>
        <input class="Title" id='topTitle' name='picture' type="text" >
        <br>
                       
        <br>
        <label>weather:</label>
        <input class="Text" id='topPost' name='weather' type='text' >
                       
        <br>
        <input type="submit">
   	</form>


</body>
<!--<footer>
	<p>Copyright {{year}}</p>
</footer> -->

</html>